<footer th:fragment="footer" class="text-center text-muted small mt-5">
  <p>
    <a href="https://apps.apple.com/us/app/mob-timer/id1594924856?mt=12&amp;itsct=apps_box_badge&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-top-left-radius: 13px; border-top-right-radius: 13px; border-bottom-right-radius: 13px; border-bottom-left-radius: 13px; width: 175px; height: 58px;"><img src="/appstore.svg" alt="Download on the Mac App Store" style="border-top-left-radius: 13px; border-top-right-radius: 13px; border-bottom-right-radius: 13px; border-bottom-left-radius: 13px; width: 175px; height: 58px;"></a>
  </p>
  <p>
    <a href="/help">Help</a>
    |
    <a href="/stats">Stats</a>
    |
    <a href="https://github.com/remotemobprogramming/timer">View on Github</a>
    |
    <a href="https://mob.sh">mob.sh</a>
    |
    <a target="_blank" href="https://www.innoq.com/en/impressum/">Legal Notice</a>
    |
    <a target="_blank" href="https://www.innoq.com/en/datenschutz-20230122/">Privacy</a>
  </p>

  <p>
    Crafted by <a href="https://twitter.com/simonharrer">Dr. Simon Harrer</a> &amp; <a href="https://twitter.com/jochen_christ">Jochen Christ</a>
  </p>
  <p>
    <a href="https://www.innoq.com/" target="_blank">
      <picture>
        <source srcset="/supported-by-innoq--white.svg" media="(prefers-color-scheme:dark)">
        <img class="m-3" style="width: 150px; height: auto;" src="/supported-by-innoq--black.svg">
      </picture>
    </a>
  </p>
</footer>