<footer th:fragment="footer" class="text-center text-muted small mt-5">
  <p>
    <th:block th:if="${room}">
      <a href="#" onclick="enableAudio()" id="audio-interaction">Activate Audio</a>
      <span id="audio-speaker" onclick="toggleAudio()"></span>
      <a href="#" onclick="testAudio()" id="audio-test">Test Audio</a>
      |
    </th:block>
    <a href="/help">Help</a>
    |
    <a href="/stats">Stats</a>
    |
    <a href="https://github.com/remotemobprogramming/timer">View on Github</a>
    |
    <a href="https://mob.sh">mob.sh</a>
    |
    <a href="https://join.slack.com/t/mobsh/shared_invite/zt-2gxr4zvli-NnYvxvI32sjs9TjXUvnydA" rel="nofollow"><img src="https://camo.githubusercontent.com/5ade1fd1e76a6ab860802cdd2941fe2501e2ca2cb534e5d8968dbf864c13d33d/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f736c61636b2d6a6f696e5f636861742d77686974652e7376673f6c6f676f3d736c61636b267374796c653d736f6369616c" alt="Slack Status" data-canonical-src="https://img.shields.io/badge/slack-join_chat-white.svg?logo=slack&amp;style=social" style="max-width: 100%;"></a>
    |
    <a target="_blank" href="https://www.innoq.com/en/impressum/">Legal Notice</a>
    |
    <a target="_blank" href="https://www.innoq.com/en/datenschutz/">Privacy</a>
  </p>

  <p>
    Crafted by <a href="https://twitter.com/simonharrer">Dr. Simon Harrer</a> &amp; <a href="https://twitter.com/jochen_christ">Jochen Christ</a>
  </p>
  <p>
    <a href="https://www.innoq.com/" target="_blank">
      <picture>
        <source srcset="/supported-by-innoq--white.svg" media="(prefers-color-scheme:dark)">
        <img class="m-3" style="width: 150px; height: auto;" src="/supported-by-innoq--black.svg">
      </picture>
    </a>
  </p>
</footer>
