<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <title>Mob Timer</title>
</head>
<body>

<div class="col-lg-8 mx-auto p-3 py-md-5">
  <main class="text-center">
    <div>
      <div>
        <h1>Mob Timer</h1>

        <p>
          A team timer for <a href="https://mob.sh">mob.sh</a>.
        </p>

      </div>
    </div>


    <div class="row justify-content-center mt-5 mb-5">
      <div class="col-md-6">
        <div>
    <form method="post" class="mb-3">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon3">[[${url}]]</span>
        <input class="form-control" type="text" id="room" name="room" th:value="${randomRoomName}" placeholder="room /[a-z0-9-]+/" required autofocus />
        <button type="submit" class="btn btn-primary">Join</button>
      </div>
    </form>
        </div>
        <div class="text-muted">or enter your team's room name</div>
      </div>
    </div>

    <p id="active-users"></p>
  </main>
  <footer class="text-center text-muted small mt-5">
    <p>
      <a href="/help">Help</a>
      |
      <a href="https://github.com/remotemobprogramming/timer">View on Github</a>
      |
      <a href="https://mob.sh">mob.sh</a>
    </p>

    <p>
      Created by <a href="https://twitter.com/simonharrer">Dr. Simon Harrer</a> &amp; <a href="https://twitter.com/jochen_christ">Jochen Christ</a>
    </p>
  </footer>
</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script type="text/javascript">
    if ("Notification" in window) {
      Notification.requestPermission();
    }
  </script>
  <script type="text/javascript">
    let url = `/events`;
    console.log('setting up event source at ' + url);
    const eventSource = new EventSource(url);
    eventSource.onopen = () => {
      console.log('opened connection to ' + url);
    };
    eventSource.addEventListener('ACTIVE_USERS_UPDATE', (e) => {
      console.log("Updating active users " + e.data)
      var activeUsers = parseInt(e.data, 10);
      var text = "";
      if (activeUsers === 0) {
        text = "There is no active user.";
      } else if (activeUsers === 1) {
        text = "There is 1 active user.";
      } else if (activeUsers > 1) {
        text = `There are ${e.data} active users.`;
      } else {
        text = "";
      }
      document.getElementById('active-users').innerHTML = text;
    });
  </script>

<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>
</html>
