<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/bootstrap.min.css" rel="stylesheet">
  <script src="/bootstrap.bundle.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis-timeline/7.5.1/vis-timeline-graph2d.min.js" integrity="sha512-JA7jCKVg16tY6QqK9Y6dVnycXUuplg+aeQsvCFCg+b8PkUN4mFOw853tlKI2Q03s+q6uBFdEeS1nc4ngYScitw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis-timeline/7.5.1/vis-timeline-graph2d.css" integrity="sha512-iyqJFPM2g+aNANZ4TN96zt2HuYbAiEZfYaEvv1VbSL6fjbxTL7Yot3mx1ce1gpggT15MMM8ZinGw5wpKP1Oksw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title>00:00 #[[${room.name}]]</title>

  <style>
    @media (min-width: 992px) {
      .container{
        max-width: 720px;
      }
    }

    .vis-timeline {
      border: none;
    }

    .vis-item.TIMER {
      color: white;
      background-color: green;
      border-color: darkgreen;
    }

    .vis-item.BREAKTIMER {
      color: white;
      background-color: red;
      border-color: darkred;
    }
  </style>
</head>
<body>

<div class="progress" style="height: 3px;">
  <div class="progress-bar" role="progressbar" id="progressbar" style="width:0;"></div>
</div>

<main class="container">

<div class="col-lg-8 mx-auto p-3 py-md-5">

  <div class="text-center mb-3">
    <a href="/myroom" th:href="|/${room.name}|" class="text-body text-decoration-none">#[[${room.name}]]</a>

   <div class="display-1">
     <span id="timer-type"></span>
     <span id="timer" class="font-monospace">00:00</span>
   </div>

    <div>
     <span id="timer-user" class="text-muted"></span>
     <span id="timer-next-user" class="text-muted" title="next person"></span>
    </div>

    <div>
      <div class="mt-3" style="justify-content: center">
        <div class="btn-group">
          <button class="btn btn-outline-secondary" type="button" id="timer-button">10 ⏲</button>
          <button type="button"
                  class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul id="startTimerDropdown" class="dropdown-menu" style="min-width: auto">
            <li><button class="dropdown-item" onclick="startTimer(5);">5 ⏲</button></li>
            <li><button class="dropdown-item" onclick="startTimer(10);">10 ⏲</button></li>
            <li><button class="dropdown-item" onclick="startTimer(15);">15 ⏲</button></li>
            <li><button class="dropdown-item" onclick="startTimer(20);">20 ⏲</button></li>
            <li><button class="dropdown-item" onclick="startTimer(25);">25 ⏲</button></li>
            <li><button class="dropdown-item" onclick="startTimer(30);">30 ⏲</button></li>
          </ul>
        </div>
        <div class="btn-group">
        <button class="btn btn-outline-secondary" type="button" id="breaktimer-button">15 ☕</button>
        <button type="button"
                class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown"
                aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul id="startBreaktimerDropdown" class="dropdown-menu" style="min-width: auto">
          <li><button class="dropdown-item" onclick="startBreaktimer(5);"> 5 ☕</button></li>
          <li><button class="dropdown-item" onclick="startBreaktimer(10);">10 ☕</button></li>
          <li><button class="dropdown-item" onclick="startBreaktimer(15);">15 ☕</button></li>
          <li><button class="dropdown-item" onclick="startBreaktimer(30);">30 ☕</button></li>
          <li><button class="dropdown-item" onclick="startBreaktimer(45);">45 ☕</button></li>
          <li><button class="dropdown-item" onclick="startBreaktimer(60);">60 ☕</button></li>
        </ul>
        </div>

        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#configurationModal">⚙️</button>
      </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="configurationModal" tabindex="-1" role="dialog" aria-labelledby="configurationModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="configurationModalLabel">Edit Configuration</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <span class="input-group-text">MOB_TIMER_USER=</span>
              <input type="text" class="form-control" placeholder="username" id="user-input">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">mob timer</span>
              <input type="number" class="form-control" placeholder="minutes" value="10" id="timer-input">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">mob break</span>
              <input type="number" class="form-control" placeholder="minutes" value="10" id="breaktimer-input">
            </div>

            <p>Values are stored locally in your browser.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

  <div id="history-timeline" class="mb-5"></div>

  <div id="history-container" class="mb-5" style="display: none">
    <h5>History <small class="text-muted">Last 24h</small></h5>
    <small>
      <ul id="history" class="list-unstyled font-monospace">
      </ul>
    </small>
  </div>

  <div id="usage-container">
    <h5>Integration with the mob tool</h5>
    <ul class="list-unstyled">
      <li>configure in ~/.mob</li>
      <li><code>MOB_TIMER_ROOM=&quot;[[${room.name}]]&quot;</code></li>
    </ul>
    <ul class="list-unstyled">
      <li>start timer in cli</li>
      <li><code>mob start 10</code></li>
      <li><code>mob timer 10</code></li>
      <li><code>mob break 5</code></li>
    </ul>
  </div>

</main>

<footer class="text-center text-muted small mt-5">
  <p>
    <a href="#" onclick="enableAudio()" id="audio-interaction">Activate Audio</a>
    <span id="audio-speaker" onclick="toggleAudio()"></span>
    <a href="#" onclick="testAudio()" id="audio-test">Test Audio</a>
    |
    <a href="/help">Help</a>
    |
    <a href="/stats">Stats</a>
    |
    <a href="https://github.com/remotemobprogramming/timer">View on Github</a>
    |
    <a href="https://mob.sh">mob.sh</a>
  </p>

  <p>
    Crafted by <a href="https://twitter.com/simonharrer">Dr. Simon Harrer</a> &amp; <a href="https://twitter.com/jochen_christ">Jochen Christ</a>
  </p>
</footer>

  <script src="/howler.min.js"></script>
  <script type="text/javascript">
    if ("Notification" in window) {
      Notification.requestPermission();
    }
  </script>
  <script type="text/javascript">

    function hasAudioEnabled() {
      return localStorage.getItem('audio') === 'true';
    }

    function enableAudio() {
      localStorage.setItem('audio', 'true');
      document.getElementById('audio-speaker').innerText = '🔉'
      checkAudioPlayback()
    }

    function disableAudio() {
      localStorage.setItem('audio', 'false');
      document.getElementById('audio-speaker').innerText = '🔇'
      checkAudioPlayback()
    }

    function toggleAudio() {
      hasAudioEnabled() ? disableAudio() : enableAudio();
    }

    hasAudioEnabled() ? enableAudio() : disableAudio();

    function testAudio() {
      new Audio('/timer.mp3').play();
    }

    function addLeadingZero(num) {
      return (num < 10 ? '0' : '') + num;
    }

    function getCountdownRemainingTimeString(timerDurationInMilliseconds, elapsedMillisecondsSinceRequested) {
      let remainingDurationInMilliseconds = timerDurationInMilliseconds - elapsedMillisecondsSinceRequested;
      let remainingSeconds = Math.floor(remainingDurationInMilliseconds / 1000);
      let remainingMinutesPart = Math.floor(remainingSeconds / 60);
      let remainingSecondsPart = remainingSeconds % 60;
      return `${addLeadingZero(remainingMinutesPart)}:${addLeadingZero(remainingSecondsPart)}`;
    }

    function getCountdownPercentage(timerDurationInMilliseconds, elapsedMillisecondsSinceRequested) {
      let percentage = elapsedMillisecondsSinceRequested / timerDurationInMilliseconds * 100;
      return Math.max(0, Math.min(100, Math.floor(percentage * 100) / 100));
    }

    function formatTodayAware(timestamp) {
      let date = new Date(timestamp);
      return date.toLocaleDateString() === new Date().toLocaleDateString()
          ? date.toLocaleTimeString()
          : date.toLocaleString();
    }

    let timerDiv = document.getElementById('timer');
    function updateRemainingTime(data) {
      document.title = `${data} #${room}`;
      timerDiv.innerText = data;
    }

    let timerUserDiv = document.getElementById('timer-user');
    function updateTimerUser(data) {
      timerUserDiv.innerText = data !== null && data !== "" ? ` 👤 ${data}` : '';
    }

    let timerNextUserDiv = document.getElementById('timer-next-user');
    function updateTimerNextUser(data) {
      timerNextUserDiv.innerText = data !== null ? ` ➡️ ${data}` : '';
    }


    let timerTypeDiv = document.getElementById('timer-type');
    function updateTimerType(data) {
      timerTypeDiv.innerText = data === 'BREAKTIMER' ? '☕' : '';
    }

    function checkAudioPlayback() {
      if (!hasAudioEnabled()) {
        document.getElementById('audio-interaction').innerText = 'Audio activated';
        return;
      }

      new Audio('/silence.mp3').play().then(() => {
        console.log("audio working");
        document.getElementById('audio-interaction').innerText = 'Audio activated';
      }, (e) => {
        console.log("audio not working");
        (console.error || console.log).call(console, e.stack || e);
        document.getElementById('audio-interaction').innerText = 'Activate Audio';
      })
    }

    function timerFinished() {
      console.log("Timer finished. Notifying user.");

      updateTimerUser(null);
      updateTimerNextUser(requestNextUser);
      updateTimerType(null);

      if ("Notification" in window) {
        Notification.requestPermission();
        new Notification(requestUser + ' $ ' + (requestType === "TIMER" ? 'mob next' : 'mob start'), {
          tag: 'timer-finished',
          body: requestTimer + " min timer is up.",
          icon: '/favicon.ico',
          lang: 'en',
        });
      }

      if (hasAudioEnabled()) {
        let audioFile = '/timer.mp3';
        console.log("Playing " + audioFile);
        new Audio(audioFile).play().then(
            () => {},
            (e) => console.log("could not play " + e)
        )
      }
    }

    let room = '[[${room.name}]]';

    let roomEventsUrl = `/${room}/events`;
    console.log('setting up event source at ' + roomEventsUrl);
    const eventSource = new EventSource(roomEventsUrl);
    eventSource.onopen = () => {
      console.log('opened connection to ' + roomEventsUrl);
    };
    eventSource.onerror = (e) => {
      console.log('error on connection to ' + roomEventsUrl + ": " + e.data);
    };

    let progressbarElement = document.getElementById("progressbar");

    let requestedTimestamp = null;
    let timerDurationInMilliseconds = null;
    let isTimerRunning = false;
    let requestType = null;
    let requestUser = null;
    let requestNextUser = null;
    let requestTimer = null;


    function renderTimer() {
      if (requestedTimestamp !== null) {
        let elapsedMillisecondsSinceRequested = Date.now() - requestedTimestamp;
        if (elapsedMillisecondsSinceRequested < timerDurationInMilliseconds) {
          updateRemainingTime(
              getCountdownRemainingTimeString(timerDurationInMilliseconds,
                  elapsedMillisecondsSinceRequested)
          );
          let countdownPercentage = getCountdownPercentage(timerDurationInMilliseconds, elapsedMillisecondsSinceRequested);
          progressbarElement.style.width = `${countdownPercentage}%`;
          isTimerRunning = true;
        } else {
          updateRemainingTime('00:00');
          progressbarElement.style.width = "100%";

          if (isTimerRunning) {
            timerFinished();
          }

          isTimerRunning = false;
        }
      }
    }

    // loop
    function timer() {
      setTimeout(function () {
        renderTimer();
        timer();
      }, 50);
    }
    timer();

    var historyState = []
    var items = new vis.DataSet()

    function prependToHistory(entry) {
      let newEntry = createHistoryEntry(entry);

      let historyElement = document.getElementById('history');
      let current = historyElement.innerHTML.toString();
      if (!current.includes(newEntry)) {
        let newListItem = document.createElement("li");
        newListItem.innerText = newEntry;
        historyElement.prepend(newListItem);
      }
      document.getElementById('history-container').style.display = 'block';

      historyState.push(entry);

      let start = Date.parse(entry.requested);
      let end = Date.parse(entry.requested) + (entry.timer * 60 * 1000);
      let icon = typeToIcon(entry.type);
      let title = `${icon} ${entry.timer} min started by 👤 ${entry.user}`;

      let now = new Date();
      items.forEach(item => {
        if (item.end > now) {
          items.update({id: item.id, end: now})
        }
      });

      items.add({
          content: '',
          className: entry.type,
          start: start,
          end: end,
          title: title,
          group: entry.type === "TIMER" ? 2 : 1
        });
    }

    function clearHistory() {
      document.getElementById('history').innerHTML = '';
      document.getElementById('history-container').style.display = 'none';
      historyState = []
      items.clear();
    }



    function drawHistoryDiagram() {
      // Create a Timeline
      var timeline = new vis.Timeline(document.getElementById('history-timeline'), items, new vis.DataSet([{id: 1, content: '☕'}, {id: 2, content: '⏲'}]), {
        editable: false,
        selectable: false,
        rollingMode: {
          follow: true,
          offset: 0.9
        },
        showMajorLabels: false,
        showMinorLabels: true,
        stack: false,
        zoomable: false,
        moveable: false,
        start: new Date(new Date().getTime() - (1000 * 60 * 60 * 4) ),
        end: new Date(new Date().getTime() + (1000 * 60 * 30) )
      });
    }

    drawHistoryDiagram();

    eventSource.addEventListener('INITIAL_HISTORY', (event) => {
      console.log('handling event INITIAL_HISTORY ' + event.data);
      let historyEntries = JSON.parse(event.data);

      if (historyEntries === null) {
        return;
      }

      historyEntries.forEach(historyEntry => {
        prependToHistory(historyEntry);
      });
    })

    function createHistoryEntry(timerRequest) {
      let requested = timerRequest["requested"];
      let timerInMinutes = timerRequest["timer"];
      let user = timerRequest["user"];
      let type = timerRequest["type"];

      if (user === null || user === "") {
        return `🕒 ${formatTodayAware(requested)} ${typeToIcon(type)} ${timerInMinutes} min`;
      }

      return `🕒 ${formatTodayAware(requested)} ${typeToIcon(type)} ${timerInMinutes} min 👤 ${user}`;
    }

    function typeToIcon(type) {
      return type === "BREAKTIMER" ? "☕" : "⏲"
    }

    eventSource.addEventListener('TIMER_REQUEST', (event) => {
      console.log('handling event TIMER_REQUEST ' + event.data);
      let timerRequest = JSON.parse(event.data);
      let requested = timerRequest["requested"];
      let timerInMinutes = timerRequest["timer"];
      let user = timerRequest["user"];
      let nextUser = timerRequest["nextUser"];
      let type = timerRequest["type"];

      if (timerInMinutes === 0 && user === null) {
        console.log('Resetting state');

        requestedTimestamp = null
        timerDurationInMilliseconds = null
        requestType = null
        requestUser = null
        requestNextUser = null
        requestTimer = null

        updateTimerUser(null);
        updateTimerNextUser(null);

        clearHistory();

        return;
      }

      updateTimerUser(user)
      updateTimerNextUser(null)
      updateTimerType(type)

      requestedTimestamp = Date.parse(requested);
      timerDurationInMilliseconds = timerInMinutes * 60 * 1000;
      requestType = type
      requestUser = user
      requestNextUser = nextUser
      requestTimer = timerInMinutes

      prependToHistory(timerRequest);
    });

    checkAudioPlayback();

    function sendTimer(type, timer, user) {
      let method = "PUT";
      let url = "/" + room;
      let json = `{"${type}": ${timer},"user": "${user}"}`;

      console.log(`${method} ${url} ${json}`)
      var xhr = new XMLHttpRequest();
      xhr.open(method, url);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(json);
    }



    function syncAndSetInitialValue(inputElementId, storageId, defaultValue, onChange) {
      const callOnChange = () => {
        if (typeof onChange === "function") {
          onChange();
        }
      }

      // set default value if nothing stored
      let currentValue = localStorage.getItem(storageId);
      if(currentValue == null || currentValue === "") {
        localStorage.setItem(storageId, defaultValue);
      }

      // update input field
      const input = document.getElementById(inputElementId);
      input.value = localStorage.getItem(storageId);
      callOnChange();

      // sync with input field
      input.addEventListener("input", (e) => {
        localStorage.setItem(storageId, e.target.value);
        callOnChange();
      });
    }

    syncAndSetInitialValue('user-input', 'user', '');

    const timerButton = document.getElementById('timer-button');
    timerButton.addEventListener("click", startTimerDefault);
    syncAndSetInitialValue('timer-input', 'timer', "10", updateTimerButton);
    function startTimerDefault() {
      startTimer(localStorage.getItem('timer'));
    }
    function startTimer(timer) {
      localStorage.setItem('timer', timer);
      updateTimerButton();
      sendTimer('timer', timer, localStorage.getItem('user'));
    }
    function updateTimerButton() {
      timerButton.innerText = localStorage.getItem('timer') + " ⏲";
    }

    const breaktimerButton = document.getElementById('breaktimer-button');
    breaktimerButton.addEventListener("click", startBreaktimerDefault);
    syncAndSetInitialValue('breaktimer-input', 'breaktimer', "15", updateBreaktimerButton);
    function startBreaktimerDefault() {
      startBreaktimer(localStorage.getItem('breaktimer'));
    }

    function startBreaktimer(breaktimer) {
      localStorage.setItem('breaktimer', breaktimer);
      updateBreaktimerButton();
      sendTimer('breaktimer', breaktimer, localStorage.getItem('user'));
    }

    function updateBreaktimerButton() {
      breaktimerButton.innerText = localStorage.getItem('breaktimer') + " ☕";
    }
  </script>

<!-- Optional JavaScript -->

<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>
</html>
