<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>00:00</title>
</head>
<body>

<div class="col-lg-8 mx-auto p-3 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4">Mob Timer</span>
    </a>
  </header>

  <div class="text-center mb-5">
    #[[${room.name}]]

   <div class="display-1">
     <span id="timer-type"></span>
     <span id="timer" class="font-monospace">00:00</span>
   </div>

    <div>
     <span id="timer-duration" class="text-muted"></span>
     <span id="timer-user" class="text-muted"></span>
     <span id="timer-requested" class="text-muted"></span>
    </div>

    <div class="progress" style="height: 1px;">
      <div class="progress-bar" role="progressbar" id="progressbar" style="width: 0%;"></div>
    </div>
  </div>

  <div class="mb-5" id="help">
    <pre>
      # first, configure your local system ...
      export MOB_TIMER_ROOM=[[${room.name}]]

      # ... and then happy collaborating!
      mob start 10

      # You can always start a timer via
      mob timer 10

      # or have a 5 minute coffee break with
      mob break 5
    </pre>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">History</h5>
          <p class="card-text">
          <ul id="history">

          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
  <script type="text/javascript">
    Notification.requestPermission();
  </script>
  <script type="text/javascript">
    var timerDiv = document.getElementById('timer');
    function updateRemainingTime(data) {
      document.title = data;
      timerDiv.innerHTML = data;
    }

    var timerUserDiv = document.getElementById('timer-user');
    function updateTimerUser(data) {
      if (data !== undefined) {
        timerUserDiv.innerHTML = " by " + data;
      } else {
        timerUserDiv.innerHTML = "";
      }
    }

    var timerDurationDiv = document.getElementById('timer-duration');
    function updateTimerDuration(data) {
      timerDurationDiv.innerHTML = data + " min timer";
    }

    var timerTypeDiv = document.getElementById('timer-type');
    function updateTimerType(data) {
      timerTypeDiv.innerHTML = data;
    }

    var timerRequestedDiv = document.getElementById('timer-requested');
    function updateTimerRequested(data) {
      if(data !== undefined) {
      timerRequestedDiv.innerHTML = " started at " + data;
      } else {
      timerRequestedDiv.innerHTML = data;
      }
    }

    function timerFinished() {
      Notification.requestPermission();
      new Notification('mob next', {
        tag: 'timer-finished',
        silent: false,
        body: "Time's up.",
        lang: 'en',
      })
      new Howl({
        src: ['/mobnext.mp3']
      }).play();
    }


    let url = '/[[${room.name}]]/sse';
    console.log('setting up event source at ' + url);
    const eventSource = new EventSource(url);
    eventSource.addEventListener('TIMER_UPDATE', (e) => {
      console.log('TIMER_UPDATE');
      //updateRemainingTime(e.data);
    });
    eventSource.addEventListener('TIMER_FINISHED', (e) => {
      console.log('TIMER_FINISHED');
      timerFinished();
    });

    let url2 = '/[[${room.name}]]/sse2';
    console.log('setting up event source at ' + url2);
    const eventSource2 = new EventSource(url2);
    eventSource2.onopen = () => {
      console.log('open');
    };
    eventSource2.onerror = (e) => {
      console.log('onerror');
      console.log(e);
      console.log(e.data);
    };

    function addLeadingZero(num) {
      return (num < 10 ? '0' : '') + num;
    }

    let progressbarElement = document.getElementById("progressbar");

    var requestedTimestamp;
    var timerDuration;
    function timer() {
      setTimeout(function () {
        if (requestedTimestamp !== undefined) {
          var elapsedSinceRequested = Date.now() - requestedTimestamp;
          if (elapsedSinceRequested < timerDuration) {
            var remainingDuration = timerDuration - elapsedSinceRequested;
            let remainingSeconds = Math.floor(remainingDuration / 1000);
            let remainingMinutes = Math.floor(remainingSeconds / 60);
            let remainingSecondsPart = remainingSeconds % 60;
            updateRemainingTime(
                addLeadingZero(remainingMinutes)
                + ':'
                + addLeadingZero(remainingSecondsPart)
            );
            let percentage = 100 - Math.max(0, Math.min(100, Math.floor(elapsedSinceRequested / timerDuration * 100)));
            progressbarElement.style = "width: " + percentage + "%";
          } else {
            updateRemainingTime('00:00');
            progressbarElement.style = "width: " + 0 + "%";
          }
        }
        timer();
      }, 50);
    }
    timer();

    eventSource2.addEventListener('TIMER_REQUEST', (e) => {
      // hide help text
      document.getElementById('help').style.display = 'none'

      console.log('TIMER_REQUEST');
      console.log(e.data);
      var request = JSON.parse(e.data);
      console.log(request);

      updateTimerUser(request.user)
      updateTimerDuration(request.timer)
      if (request.type === 'TIMER') {
        updateTimerType('')
      } else if (request.type === 'BREAKTIMER') {
        updateTimerType('☕')
      } else {
        updateTimerType('')
      }

      updateTimerRequested(request.requested);



      requestedTimestamp = Date.parse(request.requested);
      timerDuration = request.timer * 60 * 1000;

      let newEntry = '<li>' + JSON.stringify(request) + '</li>';
      var current = document.getElementById('history').innerHTML.toString();
      if(!current.contains(newEntry)) {
         document.getElementById('history').innerHTML = newEntry + current;
      }
    });
  </script>
</body>
</html>