<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <title>00:00 #[[${room.name}]]</title>

  <style>
    @media (min-width: 992px) {
      .container{
        max-width: 720px;
      }
    }
  </style>
</head>
<body>

<div class="progress" style="height: 3px;">
  <div class="progress-bar" role="progressbar" id="progressbar" style="width:0;"></div>
</div>

<main class="container">

<div class="col-lg-8 mx-auto p-3 py-md-5">

  <div class="text-center mb-3">
    <a href="/myroom" th:href="|/${room.name}|" class="text-body text-decoration-none">#[[${room.name}]]</a>

   <div class="display-1">
     <span id="timer-type"></span>
     <span id="timer" class="font-monospace">00:00</span>
   </div>

    <div>
     <span id="timer-user" class="text-muted"></span>
     <span id="timer-next-user" class="text-muted" title="next person"></span>
    </div>

    <div>
      <div class="input-group mt-3" style="justify-content: center">
        <button class="btn btn-outline-secondary" type="button" id="timer-button" onclick="startTimer()">10 ⏲</button>
        <button class="btn btn-outline-secondary" type="button" id="breaktimer-button" onclick="startBreaktimer()">15 ☕</button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#configurationModal">⚙️</button>
      </div>
    </div>



    <!-- Modal -->
    <div class="modal" id="configurationModal" tabindex="-1" role="dialog" aria-labelledby="configurationModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="configurationModalLabel">Edit Configuration</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <span class="input-group-text">export MOB_TIMER_USER=</span>
              <input type="text" class="form-control" placeholder="username" id="user-input">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">mob timer</span>
              <input type="text" class="form-control" placeholder="minutes" value="10" id="timer-input">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">mob break</span>
              <input type="text" class="form-control" placeholder="minutes" value="10" id="breaktimer-input">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

  <div id="history-container" class="mb-5" style="display: none">
    <h5>History <small class="text-muted">Last 24h</small></h5>
    <small>
      <ul id="history" class="list-unstyled font-monospace">
      </ul>
    </small>
  </div>

  <div id="usage-container">
    <h5>Usage</h5>
    <ul class="list-unstyled">
      <li><code>export MOB_TIMER_ROOM=[[${room.name}]]</code></li>
    </ul>
    <ul class="list-unstyled">
      <li><code>mob start 10</code></li>
      <li><code>mob timer 10</code></li>
      <li><code>mob break 5</code></li>
    </ul>
  </div>

</main>

<footer class="text-center text-muted small mt-5">
  <p>
    <a href="#" onclick="enableAudio()" id="audio-interaction">Activate Audio</a>
    <span id="audio-speaker" onclick="toggleAudio()"></span>
    <a href="#" onclick="testAudio()" id="audio-test">Test Audio</a>
    |
    <a href="/help">Help</a>
    |
    <a href="https://github.com/remotemobprogramming/timer">View on Github</a>
    |
    <a href="https://mob.sh">mob.sh</a>
  </p>

  <p>
    Crafted by <a href="https://twitter.com/simonharrer">Dr. Simon Harrer</a> &amp; <a href="https://twitter.com/jochen_christ">Jochen Christ</a>
  </p>
</footer>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
  <script type="text/javascript">
    if ("Notification" in window) {
      Notification.requestPermission();
    }
  </script>
  <script type="text/javascript">

    function hasAudioEnabled() {
      return localStorage.getItem('audio') === 'true';
    }

    function enableAudio() {
      localStorage.setItem('audio', 'true');
      document.getElementById('audio-speaker').innerText = '🔉'
      checkAudioPlayback()
    }

    function disableAudio() {
      localStorage.setItem('audio', 'false');
      document.getElementById('audio-speaker').innerText = '🔇'
      checkAudioPlayback()
    }

    function toggleAudio() {
      hasAudioEnabled() ? disableAudio() : enableAudio();
    }

    hasAudioEnabled() ? enableAudio() : disableAudio();

    function testAudio() {
      new Audio('/timer.mp3').play();
    }

    function addLeadingZero(num) {
      return (num < 10 ? '0' : '') + num;
    }

    function getCountdownRemainingTimeString(timerDurationInMilliseconds, elapsedMillisecondsSinceRequested) {
      let remainingDurationInMilliseconds = timerDurationInMilliseconds - elapsedMillisecondsSinceRequested;
      let remainingSeconds = Math.floor(remainingDurationInMilliseconds / 1000);
      let remainingMinutesPart = Math.floor(remainingSeconds / 60);
      let remainingSecondsPart = remainingSeconds % 60;
      return `${addLeadingZero(remainingMinutesPart)}:${addLeadingZero(remainingSecondsPart)}`;
    }

    function getCountdownPercentage(timerDurationInMilliseconds, elapsedMillisecondsSinceRequested) {
      let percentage = elapsedMillisecondsSinceRequested / timerDurationInMilliseconds * 100;
      return Math.max(0, Math.min(100, Math.floor(percentage * 100) / 100));
    }

    function formatTodayAware(timestamp) {
      let date = new Date(timestamp);
      return date.toLocaleDateString() === new Date().toLocaleDateString()
          ? date.toLocaleTimeString()
          : date.toLocaleString();
    }

    let timerDiv = document.getElementById('timer');
    function updateRemainingTime(data) {
      document.title = `${data} #${room}`;
      timerDiv.innerText = data;
    }

    let timerUserDiv = document.getElementById('timer-user');
    function updateTimerUser(data) {
      timerUserDiv.innerText = data !== null && data !== "" ? ` 👤 ${data}` : '';
    }

    let timerNextUserDiv = document.getElementById('timer-next-user');
    function updateTimerNextUser(data) {
      timerNextUserDiv.innerText = data !== null ? ` ➡️ ${data}` : '';
    }


    let timerTypeDiv = document.getElementById('timer-type');
    function updateTimerType(data) {
      timerTypeDiv.innerText = data === 'BREAKTIMER' ? '☕' : '';
    }

    function checkAudioPlayback() {
      if (!hasAudioEnabled()) {
        document.getElementById('audio-interaction').innerText = 'Audio activated';
        return;
      }

      new Audio('/silence.mp3').play().then(() => {
        console.log("audio working");
        document.getElementById('audio-interaction').innerText = 'Audio activated';
      }, (e) => {
        console.log("audio not working");
        (console.error || console.log).call(console, e.stack || e);
        document.getElementById('audio-interaction').innerText = 'Activate Audio';
      })
    }

    function timerFinished() {
      console.log("Timer finished. Notifying user.");

      updateTimerUser(null);
      updateTimerNextUser(requestNextUser);
      updateTimerType(null);

      if ("Notification" in window) {
        Notification.requestPermission();
        new Notification(requestUser + ' $ ' + (requestType === "TIMER" ? 'mob next' : 'mob start'), {
          tag: 'timer-finished',
          body: requestTimer + " min timer is up.",
          icon: '/favicon.ico',
          lang: 'en',
        });
      }

      if (hasAudioEnabled()) {
        let audioFile = '/timer.mp3';
        console.log("Playing " + audioFile);
        new Audio(audioFile).play().then(
            () => {},
            (e) => console.log("could not play " + e)
        )
      }
    }

    let room = '[[${room.name}]]';

    let roomEventsUrl = `/${room}/events`;
    console.log('setting up event source at ' + roomEventsUrl);
    const eventSource = new EventSource(roomEventsUrl);
    eventSource.onopen = () => {
      console.log('opened connection to ' + roomEventsUrl);
    };
    eventSource.onerror = (e) => {
      console.log('error on connection to ' + roomEventsUrl + ": " + e.data);
    };

    let progressbarElement = document.getElementById("progressbar");

    let requestedTimestamp = null;
    let timerDurationInMilliseconds = null;
    let isTimerRunning = false;
    let requestType = null;
    let requestUser = null;
    let requestNextUser = null;
    let requestTimer = null;


    function renderTimer() {
      if (requestedTimestamp !== null) {
        let elapsedMillisecondsSinceRequested = Date.now() - requestedTimestamp;
        if (elapsedMillisecondsSinceRequested < timerDurationInMilliseconds) {
          updateRemainingTime(
              getCountdownRemainingTimeString(timerDurationInMilliseconds,
                  elapsedMillisecondsSinceRequested)
          );
          let countdownPercentage = getCountdownPercentage(timerDurationInMilliseconds, elapsedMillisecondsSinceRequested);
          progressbarElement.style.width = `${countdownPercentage}%`;
          isTimerRunning = true;
        } else {
          updateRemainingTime('00:00');
          progressbarElement.style.width = "100%";

          if (isTimerRunning) {
            timerFinished();
          }

          isTimerRunning = false;
        }
      }
    }

    // loop
    function timer() {
      setTimeout(function () {
        renderTimer();
        timer();
      }, 50);
    }
    timer();

    function prependToHistory(newEntry) {
      let historyElement = document.getElementById('history');
      let current = historyElement.innerHTML.toString();
      if (!current.includes(newEntry)) {
        let newListItem = document.createElement("li");
        newListItem.innerText = newEntry;
        historyElement.prepend(newListItem);
      }
      document.getElementById('history-container').style.display = 'block';
    }

    function clearHistory() {
      document.getElementById('history').innerHTML = '';
      document.getElementById('history-container').style.display = 'none';
    }

    eventSource.addEventListener('INITIAL_HISTORY', (event) => {
      console.log('handling event INITIAL_HISTORY ' + event.data);
      let historyEntries = JSON.parse(event.data);

      if (historyEntries === null) {
        return;
      }

      historyEntries.forEach(historyEntry => {
        prependToHistory(createHistoryEntry(historyEntry));
      });
    })

    function createHistoryEntry(timerRequest) {
      let requested = timerRequest["requested"];
      let timerInMinutes = timerRequest["timer"];
      let user = timerRequest["user"];
      let type = timerRequest["type"];

      if (user === null || user === "") {
        return `🕒 ${formatTodayAware(requested)} ${type === "BREAKTIMER" ? "☕"
            : "⏲"} ${timerInMinutes} min`;
      }

      return `🕒 ${formatTodayAware(requested)} ${type === "BREAKTIMER" ? "☕"
          : "⏲"} ${timerInMinutes} min 👤 ${user}`;
    }

    eventSource.addEventListener('TIMER_REQUEST', (event) => {
      console.log('handling event TIMER_REQUEST ' + event.data);
      let timerRequest = JSON.parse(event.data);
      let requested = timerRequest["requested"];
      let timerInMinutes = timerRequest["timer"];
      let user = timerRequest["user"];
      let nextUser = timerRequest["nextUser"];
      let type = timerRequest["type"];

      if (timerInMinutes === 0 && user === null) {
        console.log('Resetting state');

        requestedTimestamp = null
        timerDurationInMilliseconds = null
        requestType = null
        requestUser = null
        requestNextUser = null
        requestTimer = null

        updateTimerUser(null);
        updateTimerNextUser(null);

        clearHistory();

        return;
      }

      updateTimerUser(user)
      updateTimerNextUser(null)
      updateTimerType(type)

      requestedTimestamp = Date.parse(requested);
      timerDurationInMilliseconds = timerInMinutes * 60 * 1000;
      requestType = type
      requestUser = user
      requestNextUser = nextUser
      requestTimer = timerInMinutes

      prependToHistory(createHistoryEntry(timerRequest));
    });

    checkAudioPlayback();

    function sendTimer(type, timer, user) {
      let method = "PUT";
      let url = "/" + room;
      let json = `{"${type}": ${timer},"user": "${user}"}`;

      console.log(`${method} ${url} ${json}`)
      var xhr = new XMLHttpRequest();
      xhr.open(method, url);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(json);
    }



    function syncAndSetInitialValue(inputElementId, storageId, defaultValue) {
      // set default value if nothing stored
      let currentValue = localStorage.getItem(storageId);
      if(currentValue == null || currentValue === "") {
        localStorage.setItem(storageId, defaultValue);
      }

      // update input field
      document.getElementById(inputElementId).value = localStorage.getItem(storageId);

      // sync with input field
      document.getElementById(inputElementId).onkeyup = function (e) {
        localStorage.setItem(storageId, e.target.value);
      }
    }

    syncAndSetInitialValue('user-input', 'user', '');
    syncAndSetInitialValue('timer-input', 'timer', "10");
    syncAndSetInitialValue('breaktimer-input', 'breaktimer', "15");

    document.getElementById('timer-button').innerText = localStorage.getItem('timer') + " ⏲";
    function startTimer() {
      sendTimer('timer', localStorage.getItem('timer'), localStorage.getItem('user'));
    }

    document.getElementById('breaktimer-button').innerText = localStorage.getItem('breaktimer') + " ☕";
    function startBreaktimer() {
      sendTimer('breaktimer', localStorage.getItem('breaktimer'), localStorage.getItem('user'));
    }
  </script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>
</html>