<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <title>Stats</title>
  <script src="/darkmode.js"></script>
</head>
<body>

<div class="container">

  <div class="text-center p-3 py-md-5">
    <div>
      <h1>Mob Timer</h1>

      <p>
        A team timer for <a href="https://mob.sh">mob.sh</a>.
      </p>

    </div>
  </div>

  <h2 class="mb-4">Stats</h2>
  <p>Shows stats since last deployment at <span th:text="${stats.statisticsSince}">2021-01-02T11:00:01Z</span>. Everything is in-memory only. Refresh page to update.</p>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Timer in Minutes</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="entry:${stats.getTimer()}">
        <td th:text="${entry.key}">10</td>
        <td th:text="${entry.value}">3</td></td>
      </tr>
    </tbody>
    <thead>
    <tr>
      <th>Breaks in Minutes</th>
      <th>Count</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry:${stats.getBreaktimer()}">
      <td th:text="${entry.key}">10</td>
      <td th:text="${entry.value}">3</td></td>
    </tr>
    </tbody>
  </table>

</div>

<footer class="text-center text-muted small mt-5">
  <p>
    <a href="/help">Help</a>
    |
    <a href="/stats">Stats</a>
    |
    <a href="https://github.com/remotemobprogramming/timer">View on Github</a>
    |
    <a href="https://mob.sh">mob.sh</a>
  </p>

  <p>
    Crafted by <a href="https://twitter.com/simonharrer">Dr. Simon Harrer</a> &amp; <a href="https://twitter.com/jochen_christ">Jochen Christ</a>
  </p>
</footer>

<div th:replace="fragments/github-corner"></div>
<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>
</html>